* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("https://images.pexels.com/photos/2088205/pexels-photo-2088205.jpeg?auto=compress&cs=tinysrgb&w=600");
  color: rgb(255, 255, 255);
  background-size: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(1, 1, 1);
  font-family: "Sixtyfour Convergence", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
  font-variation-settings: "wght" 850;
}

h2 {
  color: rgb(17, 155, 241);
  font-family: "Rubik Gemstones", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  text-align: center;
}

.instructions {
  display: flex;
  color: rgb(1, 1, 1);
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  visibility: visible;
}

#blinkingText {
  text-align: center;
  justify-content: center;
  font-family: "Bangers", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: rgb(1, 1, 1);
}

#play {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  display: block;
}

#msg {
  margin: 0 auto;
  text-align: center;
  color: rgb(1, 1, 1);
}

#progressBar {
  height: 30px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
  background: rgb(255, 255, 255);
  border-radius: 8px;
}

.hide {
  visibility: hidden;
}

#progress {
  position: absolute;
  height: 100%;
  transition: 0.5s ease-in-out;
  background: rgb(0, 0, 255);
  border-radius: 8px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 15px;
  gap: 10px 15px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;
}

.is-flipped .card {
  background-color: #fff;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card.front {
  background-size: cover;
  transform: rotateY(180deg);
}

.is-flipped .card-front {
  transform: rotateY(0deg);
}

.card-back {
  background-image: url("https://images.pexels.com/photos/1279813/pexels-photo-1279813.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  transform: rotateY(0deg);
}

.is-flipped .card-back {
  transform: rotateY(180deg);
}

.card.matched {
  pointer-events: none;
  visibility: hidden;
}

#restart {
  background-color: rgb(245, 6, 245);
  color: rgb(8, 0, 0);
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  border: 4px solid black;
  margin: 0 auto;
  display: block;
}

.hidden {
  visibility: hidden;
}

.callout {
  position: fixed;
  cursor: pointer;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 200px;
  display: none;
}

.collapsible-header {
  background-color: rgba(2, 2, 94, 0.877);
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightblue;
}

.callout-container {
  padding: 0 5px;
  background-color: rgb(#ffc0cb);
  color: black;
}
